# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Rust
/target/
debug/
Cargo.lock

# Environment variables
.env
.env.*
!.env.template

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
